*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
  }
  #wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: .1fr 2fr;
    grid-gap: 45px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow:  0 2px 4px 0;
    border-top: 1px solid #eaeaea;
    padding: 40px;
    margin: 20px auto;
    max-width: 960px
  }
  header {
    display: grid;
    grid-template-columns: 2.5fr 2fr 1.7fr;
    grid-gap: 20px;
    border-bottom: 1px dashed #ddd;
    border: 50%;
    grid-row: 1/2;
    grid-column: 1/4;
  }
  a {
    text-decoration: none;
    outline: 0;
    color: #333
  }
  
  ul {
    padding-left: 0
  }
  
  li {
    list-style: none
  }
  header p i {
    vertical-align: middle;
      padding-right: 10px;
  }
  h1 {
    text-transform: uppercase;
    font-size: 28px;
    font-family: Conv_Roboto-Regular, Sans-Serif;
  }
  header p {
    margin-left: 80px;
  }
aside h2 i{
    display: grid;
    vertical-align: middle;
  }
aside h2 {
    font-family: Conv_Roboto-Regular, Sans-Serif;
    font-size: 24px;
}
article {
    margin-top: 25px;
}
article h3 {
    font-family: Conv_Roboto-Regular, Sans-Serif;
    font-size: 20px;
    color: blue;
    font-weight: 400;
}
p span {
    font-family: Conv_Roboto-Regular, Sans-Serif;
    font-size: 15px;
    color: rgb(128, 128, 128);
    font-weight: 400;
    line-height: 35px;
}
article p {
    font-family: Conv_Roboto-Regular, Sans-Serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}
ul li {
  line-height: 28px;
  font-weight: 500;
}
ul li span {
  padding-left: 14px;
}
main h2 i{
  display: grid;
  vertical-align: middle;
}
main h2 {
  font-family: Conv_Roboto-Regular, Sans-Serif;
  font-size: 24px;
}
.main-heading {
  padding-top: 30px;
}